<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:replace="~{fragments :: resources}"></div>
    <title>Movies</title>
</head>
<body>
<div>
    <nav th:replace="~{fragments :: navbar('movies')}"></nav>
    <section class="container mt-5 w-100">
    <h1 class="text-center">Best Movies</h1>
        <div class="container d-flex flex-column align-items-center mt-3">
            <ul class="list-group">
                <li th:each="movie : ${movies}" class="list-group-item ">
                    <a class="text-decoration-none" th:href="@{|/movies/${movie.id}|}" th:text="${movie.title}"></a>
                </li>
            </ul>
        </div>
    </section>

</div>
</body>
</html>