<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Song</title>
</head>
<body>
<div>
    <div th:object="${song}">
        <h1>Detail song: </h1>
        <h2 th:text="|ID: *{id}|"></h2>
        <h2 th:text="|Title: *{title}|"></h2>
        <h2 th:text="|Author: *{author}|"></h2>
    </div>


</div>
</body>
</html>